/* body{
    background: linear-gradient(0deg, var(--bg-color) 50%, var(--header-color) 50%);
    background-repeat: no-repeat;
} */
.tasks-container{
    background-color: white;
    width:80%;
    height:100%;
    align-self: center;
    margin:10%;
    margin-bottom:0%;
    padding:1%;
    padding-bottom:3%;
}
.no-tasks-container {
    background-color: white;
    width:80%;
    height:100%;
    margin:10%;
    margin-bottom:0%;
    padding:1%;
    padding-bottom:3%;
}

@media screen and (max-width:700px) {
    .tasks-container{
        padding-right:2%;
    }
}