.tasks-container{
    background-color: white;
    width:80%;
    height:100%;
    align-self: center;
    margin-left:10%;
    padding:1%;
    padding-bottom:3%;
}
.back-button {
    color: black;
    font-weight: bold;
}
.no-tasks-container {
    background-color: white;
    width:80%;
    height:100%;
    margin:10%;
    margin-bottom:0%;
    padding:1%;
    padding-bottom:3%;
}