body{
    height: 100vh;
    background-color: var(--bg-color);
    background: linear-gradient(0deg, var(--bg-color) 87.5%, var(--header-color) 87.5%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.listItems-container{
    margin-top:2%;
    margin-left:5%;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
h1{
    margin-left:5%;
    text-align: left;
}
.lists-container{
    padding:1%;
    margin-top:3%;
}

@media screen and (max-width:700px){
    body{
        background: linear-gradient(0deg, var(--bg-color) 90%, var(--header-color) 90%);
        background-repeat: no-repeat;
    }
    .listItems-container{
        flex-direction: column; 
        justify-content: space-between;
    }
}