.listItems-container{
    justify-content: space-evenly;
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
}
h1{
    text-align: left;
}
.lists-container{
    padding:1%;
}

@media screen and (max-width:700px){
    .listItems-container{
        flex-direction: column; 
        justify-content: space-between;
    }
}