.App {
  text-align: center;
}
body{
  height: 100%;
  /* background: linear-gradient(0deg, #59b6a6 50%, #6788b3 50%); */
  background-color: #6f9bb8;
  background-repeat: no-repeat;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button{
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}