* {
  --accent-color: rgb(98, 162, 223);
  --bg-color: #92a4ac;
  --header-color: #2b5080;
}
.App {
  text-align: center;
}
body{
  height:400%;
  background-color: var(--bg-color);
}
button{
  cursor: pointer;
}
.back-button{
  padding: 10px;
  color: var(--accent-color);
  background-color: white;
  margin:2%;
  border:none;
}