.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button{
  cursor: pointer;
}
.back-button{
  padding: 10px;
  color:rgb(98, 162, 223);
  background-color: white;
  margin:2%;
  border:none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}